@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

@layer utilities {
    .font-play {
        font-family: "Press Start 2P", sans-serif;
    }
}